@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.navbar-spacer {
    flex: 1 1 auto;
}

.button-row {
    display: block;    
    margin: 8px 8px 8px;
}

.button-row>button {      
    margin: 4px 4px 4px;
}

.card{    
    margin: 2% 15% 0% 15%;
}

.negrita{
    font-weight: bold;
    
}

.grande{
    font-size: 24px;
}
.pequenya{
    font-size: 10px;
}


.full-width {
    width: 100%;
}

.center {
    text-align: center;
}
.right {
    text-align: right;
}
.left {
    text-align: left;
}

a {
    text-decoration: underline;    
  }

.icono {
    max-height: 100%;
    max-width: 100%;
}

.contenedorPerfil {
    display: flex;
}
  
.contenedorPerfil  > .imagen {
    flex: 0 0 30%;
}
  
.contenedorPerfil > .texto {
    flex: 1;
    display: flex;
    margin: 0 0 0 15%;
    justify-content: center;
    align-items: center;
}

.pt20{
    padding-top: 20px;
}

.inline {
    display: inline;
}

.label{
    font-size: 1.5vw;
}

.mensajeError{
    color: #d93025;
    font-size: 0.6vw;
}

